app/target/
app/build/
app/debug/
app/release/
**/*.rs.bk
*.pyc
__pycache__/
target/
node_modules/
build/
database/data/
*.log
docker-compose.override.yml
.DS_Store
*.swp
*.swo
venv/
.env
*.so
*.dll
*.dylib
coverage/
*.lcov
*.md